__pycache__/
*.py[cod]
*$py.class

env/

media/
staticfiles/

**/migrations/*.pyc
**/migrations/*.pyo

.env
*.env

logs/
*.log
*.out
*.err
debug.log

*.cache
*.mo
*.swp
*.swo
*.swn

.coverage
nosetests.xml
tests/__pycache__/
htmlcov/

.vscode/
.idea/
*.iml

*.egg
*.egg-info/
dist/
build/
pip-log.txt
pip-delete-this-directory.txt

*.sql
*.dump

.DS_Store
Thumbs.db